.contenedor-item-habitaciones{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 30px auto;
  padding: 10px;
  width: 95%;
  justify-content: center;
}

@media (min-width: 620px) {
  .contenedor-item-habitaciones{
    grid-template-columns: repeat(2,minmax(280px,430px));
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 930px) {
  .contenedor-item-habitaciones{
    grid-template-columns: repeat(3,minmax(280px,430px));
    grid-template-rows: 1fr;
  }
}

