.inicio {
  background-color: white;
}

.img-hero {
  background-image: url("/imagenes/hotel.jpg");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero div {
  color: white;
  font-weight: 300;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 20px;
}

.img-hero h1 {
  font-size: 20px;
}

.img-hero p {
  font-size: 30px;
}

.subcontenedor-inicio {
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.boton-reserva {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: oklch(0.26 0.09 25.84);
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.inicio h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(131, 49, 24);
}

.parrafo {
  font-size: 16px;
  font-weight: 300;
  color: rgb(19, 19, 19);
  letter-spacing: 2px;
  overflow-wrap: break-word;
}

.ilustraciones-inicio {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.ilustraciones-inicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo-testimonios {
  width: 100%;
  height: 80px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 21, 3);
  color: white;
  margin: 20px auto;
}

.boton-saberMas {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 20px 0;
  background-color: rgb(160, 114, 71);
}

@media (min-width: 768px) {
  .ilustraciones-inicio {
    grid-template-columns: 40% 60%;
    grid-template-rows: 400px 400px;
  }

  .img1 {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .img2 {
    grid-column: 2;
    grid-row: 1;
  }

  .img3 {
    grid-column: 2;
    grid-row: 2;
  }

}