.contenedor-nosotros {
  background-color: sienna;
  padding-bottom: 20px;
  height: fit-content;
}

.img-hero-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.377)), url("/imagenes/hero-nosotros.png");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.img-hero-nosotros div{
  color: white;
  text-align: center;
  font-weight: 300;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.contenedor-historia {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 10px 0 10px;
  height: fit-content;
  color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.div-img-nosotros {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.contenedor-historia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.contenedor-valores {
  background-color: white;
  margin: 20px 10px 0 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.contenedor-valores>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contenedor-valores>h2 {
  font-size: 30px;
  color: rgb(43, 41, 41);
  font-weight: 500;
  margin-bottom: 20px;
}

.contenedor-historia h2 {
  color: rgb(61, 61, 61);
}

.contenedor-historia p {
  color: rgb(61, 61, 61);
}

@media (min-width: 500px) {
  .img-hero-nosotros{
    height: 40vh;
  }

  .img-hero-nosotros h2{
    font-size: 30px;
  }

  .img-hero-nosotros p{
    font-size: 20px;
  }

  .contenedor-historia>div {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .contenedor-historia> div > div, .contenedor-historia> div > img {
    width: 50%;
  }

  .contenedor-historia > :nth-child(even){
    flex-direction: row-reverse;
  }
}

@media (min-width: 780px) {
  .contenedor-historia> div > img{
    height: 300px;
  }
}

@media (min-width: 1000px) {

  .img-hero-nosotros{
    height: 50vh;
  }

  .img-hero-nosotros h2{
    font-size: 40px;
  }

  .img-hero-nosotros p{
    font-size: 25px;
  }

  .contenedor-historia> div > img{
    height: 400px;
  }

  .contenedor-historia{
    max-width: 1000px;
    margin: 30px auto 15px auto;
  }

  .contenedor-historia h2{
    font-size: 30px;
  }

  .contenedor-historia p{
    font-size: 20px;
  }

  .contenedor-valores{
    max-width: 1000px;
    margin: 15px auto 30px auto;
  }
}