.contenedor-nosotros {
  padding-bottom: 20px;
  height: fit-content;
}

.contenedor-historia {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 10px 0 10px;
  height: fit-content;
  color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.div-img-nosotros {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.contenedor-historia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.contenedor-valores {
  background-color: white;
  margin: 20px 10px 0 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.contenedor-valores>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contenedor-valores>h2 {
  font-size: 30px;
  color: rgb(43, 41, 41);
  font-weight: 500;
  margin-bottom: 20px;
}

.contenedor-historia h2 {
  color: rgb(61, 61, 61);
}

.contenedor-historia p {
  color: rgb(61, 61, 61);
}

@media (min-width: 500px) {
  .contenedor-historia>div {
    display: flex;
    gap: 30px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    border-radius: 10px;
  }

  .contenedor-historia> div > div, .contenedor-historia> div > img {
    width: 50%;
  }

  .contenedor-historia > :nth-child(even){
    flex-direction: row-reverse;
  }

  .contenedor-historia > :nth-child(even) img{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .contenedor-historia > :nth-child(odd) img{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 780px) {
  .contenedor-historia> div > img{
    height: 300px;
  }
}

@media (min-width: 1000px) {
  .contenedor-historia> div > img{
    height: 400px;
  }

  .contenedor-historia{
    max-width: 1000px;
    margin: 30px auto 15px auto;
  }

  .contenedor-historia h2{
    font-size: 30px;
  }

  .contenedor-historia p{
    font-size: 20px;
  }

  .contenedor-valores{
    max-width: 1000px;
    margin: 15px auto 30px auto;
  }
}