.contenedor-reservar{
  margin: 0 auto;
  max-width: 700px;
}

.contenedor-reservar > a{
  margin: 10px 0 0 10px;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(50, 118, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-reservar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 10px;
  font-weight: 500;
}

.form-reservar h2{
  color: rgb(17, 109, 184);
}

.form-reservar h3{
  color: rgb(36, 134, 214);
  margin: 10px 0 10px 0
}

.form-reservar input{
  height: 30px;
  font-size: 18px;
}

.form-reservar textarea{
  width: 100%;
  max-width: 500px;
  height: 70px;
}

.label-terminos{
  display: flex;
  align-items: center;
}

.label-terminos input{
  margin-right: 5px;
}

.form-reservar button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(23, 99, 212);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.form-reservar button:hover{
  transform: scale(1.03);
  background-color: rgb(50, 119, 223);
}