.servicios{
  background-color: rgb(141, 88, 38);
}

.img-hero-servicios{
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0,0,0,0.644)),url("/imagenes/desayuno.png");
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero-servicios div{
  color: white;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 780px){
  .img-hero-servicios{
    height: 30vh;
  }
}

.contenedor-card-servicios{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px 0 30px 0;
}

@media (max-width: 1110px){
  .contenedor-card-servicios{
    grid-template-columns: 1fr 1fr;
    width: 710px;
    margin: 0 auto;
  }
}

@media (min-width: 1111px){
  .contenedor-card-servicios{
    grid-template-columns: 1fr 1fr 1fr;
    width: 1070px;
    margin: 0 auto;
  }
}

@media (max-width: 750px){
  .contenedor-card-servicios{
    grid-template-columns: 1fr;
    width: 350px;
    margin: 0 auto;
  }
}

.contenedor-galeria-ambientes{
  background-color: rgb(255, 237, 216);
  padding: 15px 0 30px 0;
}

.contenedor-galeria-ambientes h2{
  text-align: center;
  font-weight: 400;
  color: rgb(27, 27, 27);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-galeria{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 5px;
}

.contenedor-galeria img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
