.item-valores{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: beige;
  width: 300px;
  height: fit-content;
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
}

.item-valores h3{
  color: rgb(75, 63, 49);
  margin-top: 10px;
}

.item-valores p{
  color: rgb(43, 41, 41);
}